@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background: black;
  color: white;
  font-family: "Inconsolata", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.color-secondary {
  color: #6e32ff;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination-page-link {
  background: #333;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 9px;
  cursor: pointer;
}

.previous a,
.next a {
  background: white;
  color: black;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 9px;
  cursor: pointer;
}

.previous a:hover,
.next a:hover {
  opacity: 0.75;
}

.previous.disabled,
.next.disabled,
.previous.disabled:hover,
.next.disabled:hover {
  opacity: 0.35;
  cursor: default;
}

.selected .pagination-page-link,
.selected .pagination-page-link:hover {
  background: red;
  color: black;
}

.pagination-page-link:hover {
  background: rgb(68, 68, 68);
}

.break {
  padding: 9px;
  display: flex;
  align-content: center;
  margin-right: 9px;
  justify-content: center;
}

.pagination-wrapper {
  padding-top: 50px;
  padding-bottom: 150px;
}

.blockie {
  border-radius: 100%;
  overflow: hidden;
  margin-right: 6px;
}

.nft-item img {
  transform: scale(1.1);
}
