@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background: #141414;
  color: white;
  font-family: "Inconsolata", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.color-secondary {
  color: #6e32ff;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

.blockie {
  border-radius: 100%;
  overflow: hidden;
  margin-right: 6px;
}

.monospaced {
  font-family: "Inconsolata", monospace;
}
